@keyframes Name {
    0%{
      //  opacity: 0;
       
    }

    100%{
      //   opacity: 1;
        
     }
}

@keyframes hideTitle {
  0%{
    transform: translateX(0vh);
     
  }

  100%{
     transform: translateX(-100vh);
      
   }
}



@keyframes fadeIn {
  0%{
     opacity: 0;

     
  }

  100%{
      opacity: 1;
    
      
   }
}
