* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  outline: none;
}

body {
  &.noscroll {
    overflow-y: hidden;
  }
}

::selection {
  background-color: #f3e6d2;
  color: var(--color-secondary);
}
