@use '../abstracts/mix';
.Header {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-height: 90vh;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: var(--medium);
  @include mix.respond(tab-port1) {
    margin-bottom: var(--small);
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 100%;
    max-height: 90vh;
    justify-content: center;
    position: relative;
    top: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: var(--large);
    @include mix.respond(tab-port1) {
      flex-direction: column;
      margin-top: 0;
    }
  }
  &__name {
    white-space: nowrap;
    margin-bottom: var(--small);
  }
  &__counter {
    align-self: flex-end;
  }
}
