@use '../abstracts/mix';
.ImageCard {
  cursor: pointer;
  // @include mix.test();

  transition: transform 0.3s ease, opacity 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
  &__container {
    margin-bottom: var(--xxs);
    border-radius: 3px;
    overflow: hidden;
  }
  &.home {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 3s ease;
    width: 0;
    &.display {
      width: 100%;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition: opacity 1s ease;
      &:hover {
        transform: none;
      }
    }
  }
  img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
  }
  a {
    color: var(--black);
  }
}
