@use '../abstracts/mix';
.ImageCard {
  cursor: pointer;
  // @include mix.test();
  overflow: hidden;
  // transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  position: relative;
  // transition: all 1s ease;
  @include mix.respond(tab-port1) {
    margin-bottom: var(--small);
  }

  &:hover {
    transform: translateY(-10px);
    @include mix.respond(tab-port1) {
      transform: none;
    }
  }
  // & .overlay {
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   background-color: var(--white);
  // }
  &__container {
    // overflow: hidden;
    // min-height: 30rem;
    // border-radius: 3px;
    // @include mix.test();
  }
  &__text {
    display: block;
  }
  &.home {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 3s ease;
    width: 0;
    @include mix.respond(tab-port1) {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      width: 100%;
    }
    &.display {
      width: 100%;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition: opacity 1s ease;
      &:hover {
        transform: none;
      }
    }
    img {
      margin-bottom: 0;
    }
  }
  img {
    width: 100%;
    display: block;
    // height: auto;
    // object-fit: cover;
    margin-bottom: var(--xxs);
  }
  a {
    color: var(--black);
  }
}
