@use '../abstracts/mix';
.Navigation {
  @include mix.respond(tab-port1) {
    margin-bottom: 0rem;
  }
  @include mix.respond(phone) {
  }

  a {
    text-decoration: none;
    white-space: nowrap;
    // transition: all 0.2s ease;
    border-bottom: 1px solid transparent;
    color: var(--color-secondary);

    &.selected {
      border-bottom: 1px solid var(--color-secondary);
    }
  }

  &__list {
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
}
