// // HEADER
.header.contact {
  grid-column: col-start 1 / col-end 2;
  // @include respond(phone){
  //     grid-column: col-start 1 /col-end 12;
  // }
}

// // // MAIN

main.contact {
  grid-column: col-start 3 / col-end 6;
  // align-items: center;
  // // justify-content: center;
  // display: none;
  @include respond(tab-port2) {
    grid-column: col-start 5 / col-end 9;
  }
  @include respond(phone) {
    grid-column: col-start 1 / col-end 12;
  }

  .about {
    // margin-top: 8rem;
    position: fixed;
    top: 45.5vh;
    max-width: 36rem;

    & > *:first-child {
      margin-bottom: 2rem;
    }

    @include respond(tab-port2) {
      max-width: 30rem;
    }

    @include respond(phone) {
      position: static;
      top: 0;
      max-width: 40rem;
    }
  }
}

.thank-you {
  padding: 5rem 0;
  white-space: nowrap;
  grid-column: col-start 12 / col-end 12;

  @include respond(tab-port2) {
    display: none;
  }
}
