// @import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700");
@use '../abstracts/mix';
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url(../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf);
}

body {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}
p {
  font-size: var(--p-small);
}
a {
  color: var(--black);
  font-size: var(--h6);
}

//UTILITY TYPOGRAPHY
.paragraph {
  font-weight: 400;
  font-size: var(--p-small);
  line-height: 1.3;
  max-width: 43rem;
  margin-bottom: var(--xs);
  @include mix.respond(tab-port1) {
    font-size: var(--h5);
  }

  &__small {
    font-size: 1rem;
  }
}
