.grid {
  display: grid;
  grid-template-columns: [page-start] 1fr [content] repeat(
      12,
      [col-start] 1fr [col-end]
    ) [content-end] 1fr [page-end];

  @include respond(phone) {
    grid-template-rows: 15.5rem repeat(6, 1fr);
  }
}
