@use '../abstracts/mix';

.FlexContainer {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  // background-color: rgb(249, 255, 158);
  .column {
    flex-direction: column;
  }
  .center {
    justify-content: center;
    @include mix.respond(tab-port1) {
      justify-content: flex-start;
    }
  }

  @include mix.respond(tab-port1) {
    justify-content: flex-start;
    flex-direction: column;
  }
}
