@use '../abstracts/mix';
.RowContainer {
  grid-column: 1/-1;
  // background-color: yellowgreen;
  // @include mix.test();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 45rem;
  &__item {
    max-width: 18vw;
    @include mix.respond(tab-port1) {
      max-width: 100%;
    }
  }
  &:first-child {
    justify-content: flex-start;
  }
  &:nth-child(odd) {
    justify-content: flex-start;
  }
  &:nth-child(3n + 3) {
    // margin-right: 20rem;
    justify-content: center;
  }
}
