.intro{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $color-primary;
    color: $color-secondary;
    animation:fadeIn 1.3s ease-in-out;
    transition: all 1.3s ease-in-out;

    @include respond(phone){
    
        align-items: flex-start;
        
    }
    &.close{
        opacity: 0;
        z-index: 0;
    }
    h1{

        font-size: 12rem;

        margin-bottom: 10rem;
        z-index: 1;

        @include respond(tab-port2){
            margin-bottom: 20rem;
            font-size: 8rem;
        }
        @include respond(phone){
            margin-top: 3rem;
            font-size: 4rem;
        }
    }

}