.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  overflow-y: hidden;

  &__content {
    height: 100%;
    grid-column: col-start 4 / col-end 9;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    img {
      max-width: 100%;
    }
    @include respond(tab-port2) {
      grid-column: page-start/ page-end;
    }
  }

  &__img {
    max-width: 50rem;
  }

  .prev-btn,
  .next-btn,
  .close-btn {
    cursor: pointer;
  }
  .prev-btn,
  .next-btn {
    justify-self: center;
    padding: 2rem;
  }

  .close-btn {
    grid-column: col-start 12 / col-end 12;
    align-self: start;
    padding-top: 5rem;
    @include respond(tab-port2) {
      grid-column: col-start 1 / col-end 12;
      align-self: start;
      padding-top: 0;
      justify-self: center;
    }
  }
}
.open {
  opacity: 1;
  pointer-events: all;
}
