.header {
  padding: 5rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  grid-column: col-start 1 / col-end 3;
  opacity: 1;
  transition: all ease-in-out;
  animation: fade 1.5s ease-in-out;

  // // HEADER
  &.option {
    justify-content: center;

    .header__container {
      position: fixed;
      top: 45.5vh;
      flex-direction: column;

      h5 {
        display: none;

        @include respond(phone) {
          display: block;
        }
      }

      @include respond(phone) {
        position: static;
        top: 0;
      }
    }
  }

  &.animate {
    opacity: 1;
    animation: fade 1.5s ease-in-out;
  }

  @include respond(tab-port1) {
    position: fixed;
    margin-left: 6rem;
    flex-direction: column;
    align-items: flex-start;
    grid-column: col-start 1 / col-end 2;
  }
  @include respond(tab-port2) {
    grid-column: col-start 1 / col-end 2;
  }

  @include respond(phone) {
    position: relative;
    margin-left: 0;
    grid-column: col-start 1 / col-end 12;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 50vh;

    span {
      @include respond(phone) {
        display: none;
      }
    }
    @include respond(tab-port1) {
      height: max-content;
      margin-bottom: 2rem;
    }
    @include respond(phone) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 1rem;
    @include respond(phone) {
      margin-bottom: 0;
    }
  }

  h5 {
    white-space: nowrap;
    &.hide {
      transform: translateX(-100vw);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tab-port1) {
      flex-direction: column;
    }

    @include respond(phone) {
      h5 {
        margin-bottom: 2.5rem;
      }
    }
  }

  .featured {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;

    @include respond(tab-port1) {
      display: none;
    }

    @include respond(tab-port2) {
      display: none;
    }
    p {
      margin-right: 1rem;
    }
  }
}
