.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    grid-column: col-start 1/col-end 4;
    opacity: 1;
    transition: all ease-in-out;
    animation: fade 1.5s ease-in-out;
   



    &.animate{
        opacity: 1;
        animation: fade 1.5s ease-in-out;
    }

@include respond(tab-port1){
    position: fixed;
    margin-left: 6rem;
    flex-direction: column;
    align-items: flex-start;
    grid-column: col-start 1/col-end 2;


}
@include respond(tab-port2){

    grid-column: col-start 1/col-end 2;

}

@include respond(phone){
    position: relative;
    margin-left: 0;
    grid-column: col-start 1/col-end 12;
    margin: 0;
    align-items: flex-start;
    padding: 3rem 0;

}

.heading{
    display: grid;
    align-items: flex-start;
    height: 100%;

    span{
        font-size: 1.2rem;
        color: $light-text;
     

        @include respond(phone){
            display: none;

        }
    }
    @include respond(tab-port1){
        height: max-content;

    }
    
}

    h5{
    
        @include respond(tab-port1){
            margin-bottom: 2rem;
        
        }

    &.hide{
        transform: translateX(-100vw);
    }
    }

    .wrapper{
        display: flex;
        height: 100%;
        // background-color: red;

        flex-direction: column;
        justify-content: flex-end;
        // align-content: space-between;


        @include respond(tab-port1){
            justify-content: start;
        }
    }
  

    .featured{
    display: flex;
    justify-content: space-between;
        margin-bottom: 1rem;;

    @include respond(tab-port1){
        margin: 3rem 0 0 0;

    }


    @include respond(phone){
        display: none;

    }
    p{   margin-right: 1rem;;}

    }

    // @include respond(phone){
    //     margin: 0;
    // }
}
