.navigation{
    display: grid;
    // align-content: center;

    align-items: space-around;
    margin-bottom: 23rem;


    @include respond(tab-port1){
        margin-bottom: 0rem;

    }
    

    @include respond(phone){
        // margin-bottom: 3rem;
    }

    a{
    
        white-space: nowrap;
        transition: all .2s ease;
        border-bottom: 1px solid transparent;

        &.selected{
            border-bottom: 1px solid $color-secondary;
        }
       
    }

    &__list{
     
        & > *:not(:last-child){
            margin-bottom: .5rem;
        } 

        &:hover{
            color: $color-tertiary;
            a{    border-bottom: 1px solid transparent;}
        
        }
    }

    &__item{
        display: flex;
        justify-content: flex-start;


        a:hover{
       
            color: $color-secondary;
            border-bottom: 1px solid $color-secondary;
        }


    }
}