@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700");
@-webkit-keyframes Name {
  0% { }
  100% { } }
@keyframes Name {
  0% { }
  100% { } }

@-webkit-keyframes hideTitle {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh); }
  100% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh); } }

@keyframes hideTitle {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh); }
  100% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh); } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; } }

@-webkit-keyframes fadeSpan {
  0% {
    -webkit-transform: translateY(6vh) rotateZ(-90deg);
            transform: translateY(6vh) rotateZ(-90deg);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; } }

@keyframes fadeSpan {
  0% {
    -webkit-transform: translateY(6vh) rotateZ(-90deg);
            transform: translateY(6vh) rotateZ(-90deg);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f2f2; }

main {
  display: block; }

::-moz-selection {
  color: #fff8f0;
  background-color: #2e2e2e; }

::selection {
  color: #fff8f0;
  background-color: #2e2e2e; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none; }

ul {
  list-style: none; }

button * {
  pointer-events: none; }

img,
embed,
iframe,
object,
video {
  display: block;
  max-width: 100%;
  border-style: none; }

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url(./assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf); }

body {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #212121;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e; }

h1 {
  letter-spacing: -3px;
  font-size: 4.883rem;
  font-weight: 400; }

h2 {
  font-size: 3.906rem;
  font-weight: 400; }

h3 {
  font-size: 3.125rem;
  font-weight: 400; }

h4 {
  font-size: 2.5rem;
  font-weight: 500; }

h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  font-weight: 800; }

h6 {
  font-size: 1.5rem;
  font-weight: 400; }

a {
  font-size: 1.1rem; }

span {
  font-size: 1.1rem; }

.paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.3; }
  .paragraph__small {
    font-size: 1rem; }
  .paragraph__grey {
    color: #4f4f4f; }

.small-uppercase {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem; }

.u-center-text {
  text-align: center; }

body {
  display: grid;
  grid-template-columns: [page-start] 1fr [content] repeat(12, [col-start] 1fr [col-end]) [content-end] 1fr [page-end]; }

.image-gallery {
  opacity: 1;
  position: relative; }
  .image-gallery.animate {
    opacity: 1;
    -webkit-animation: fade 1.5s ease-in-out;
            animation: fade 1.5s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .image-gallery {
      margin: 0; } }
  .image-gallery .img-set:first-child {
    z-index: 1;
    opacity: 1; }
  .image-gallery .img-set {
    opacity: 0;
    width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }
    @media only screen and (max-width: 60em) {
      .image-gallery .img-set {
        opacity: 1;
        width: 100%;
        position: relative;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        top: 0;
        left: 0;
        margin-bottom: 3rem;
        pointer-events: none; } }
    .image-gallery .img-set img {
      width: 100%;
      border-radius: 3px; }
      @media only screen and (max-width: 37.5em) {
        .image-gallery .img-set img {
          pointer-events: none; } }
    .image-gallery .img-set.inView {
      opacity: 1;
      cursor: pointer;
      -webkit-animation: fade .7s;
              animation: fade .7s; }
    .image-gallery .img-set.resize {
      opacity: 1;
      width: 100%;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      top: 0;
      left: 0;
      position: static; }
    .image-gallery .img-set.top-left {
      top: 0;
      left: 10rem;
      width: 45%;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    .image-gallery .img-set.top-right {
      top: 0;
      right: 10rem;
      width: 45%;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    .image-gallery .img-set.bottom-left {
      bottom: 0;
      left: 10rem;
      width: 45%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .image-gallery .img-set.bottom-right {
      bottom: 0;
      right: 10rem;
      width: 45%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }

.intro {
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff8f0;
  color: #2e2e2e;
  -webkit-animation: fadeIn 1.3s ease-in-out;
          animation: fadeIn 1.3s ease-in-out;
  -webkit-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .intro {
      -webkit-box-align: start;
              align-items: flex-start; } }
  .intro.close {
    opacity: 0;
    z-index: 0; }
  .intro h1 {
    font-size: 12rem;
    margin-bottom: 10rem;
    z-index: 1; }
    @media only screen and (max-width: 42em) {
      .intro h1 {
        margin-bottom: 20rem;
        font-size: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .intro h1 {
        margin-top: 3rem;
        font-size: 4rem; } }

.header {
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  grid-column: col-start 1/col-end 4;
  opacity: 1;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-animation: fade 1.5s ease-in-out;
          animation: fade 1.5s ease-in-out; }
  .header.animate {
    opacity: 1;
    -webkit-animation: fade 1.5s ease-in-out;
            animation: fade 1.5s ease-in-out; }
  @media only screen and (max-width: 60em) {
    .header {
      position: fixed;
      margin-left: 6rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: start;
              align-items: flex-start;
      grid-column: col-start 1/col-end 2; } }
  @media only screen and (max-width: 42em) {
    .header {
      grid-column: col-start 1/col-end 2; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      position: relative;
      margin-left: 0;
      grid-column: col-start 1/col-end 12;
      margin: 0;
      -webkit-box-align: start;
              align-items: flex-start;
      padding: 3rem 0; } }
  .header .heading {
    display: grid;
    -webkit-box-align: start;
            align-items: flex-start;
    height: 100%; }
    .header .heading span {
      font-size: 1.2rem;
      color: #4f4f4f; }
      @media only screen and (max-width: 37.5em) {
        .header .heading span {
          display: none; } }
    @media only screen and (max-width: 60em) {
      .header .heading {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content; } }
  @media only screen and (max-width: 60em) {
    .header h5 {
      margin-bottom: 2rem; } }
  .header h5.hide {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }
  .header .wrapper {
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end; }
    @media only screen and (max-width: 60em) {
      .header .wrapper {
        -webkit-box-pack: start;
                justify-content: start; } }
  .header .featured {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 60em) {
      .header .featured {
        margin: 3rem 0 0 0; } }
    @media only screen and (max-width: 37.5em) {
      .header .featured {
        display: none; } }
    .header .featured p {
      margin-right: 1rem; }

.navigation {
  display: grid;
  -webkit-box-align: space-around;
          align-items: space-around;
  margin-bottom: 24rem; }
  @media only screen and (max-width: 60em) {
    .navigation {
      margin-bottom: 0rem; } }
  .navigation a {
    white-space: nowrap;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-bottom: 1px solid transparent; }
    .navigation a.selected {
      border-bottom: 1px solid #2e2e2e; }
  .navigation__list > *:not(:last-child) {
    margin-bottom: .5rem; }
  .navigation__list:hover {
    color: #d9d9d9; }
    .navigation__list:hover a {
      border-bottom: 1px solid transparent; }
  .navigation__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .navigation__item a:hover {
      color: #2e2e2e;
      border-bottom: 1px solid #2e2e2e; }

body {
  padding: 5rem 0 5rem 0rem;
  width: 100vw;
  height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0rem; } }
  body main {
    display: grid;
    grid-column: col-end 4/col-end 12; }
    @media only screen and (max-width: 60em) {
      body main {
        grid-column: col-start 5/col-end 12; } }
    @media only screen and (max-width: 37.5em) {
      body main {
        grid-column: col-start 1/col-end 12; } }

header.portfolio {
  height: 100%;
  position: fixed;
  margin-left: 7rem;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  header.portfolio .heading {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    header.portfolio .heading h5 {
      margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    header.portfolio {
      position: static;
      margin: 0;
      display: grid;
      grid-column: col-start 1/col-end 12;
      -webkit-box-pack: start;
              justify-content: flex-start;
      align-content: center;
      -webkit-box-align: center;
              align-items: center; } }
  header.portfolio .navigation {
    margin: 0; }

main.portfolio {
  display: grid;
  grid-column: col-start 3/col-end 12; }
  @media only screen and (max-width: 60em) {
    main.portfolio {
      grid-column: col-start 5/col-end 12; } }
  @media only screen and (max-width: 37.5em) {
    main.portfolio {
      grid-column: col-start 1/col-end 12; } }
  main.portfolio .image-gallery {
    position: static;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: [gallery-start] 1fr [content] repeat(6, [gal-start] 1fr [gal-end]) [content-end] 1fr [gallery-end];
    grid-row-gap: 10rem;
    align-content: flex-start; }
    @media only screen and (max-width: 60em) {
      main.portfolio .image-gallery {
        grid-row-gap: 4rem; } }
    main.portfolio .image-gallery :nth-child(odd) {
      grid-column: gallery-start /gal-end 6; }
    main.portfolio .image-gallery :nth-child(even) {
      grid-column: gal-start 4/gal-end 5; }
    main.portfolio .image-gallery :nth-child(3), main.portfolio .image-gallery :nth-child(6), main.portfolio .image-gallery :nth-child(9) {
      grid-column: gal-start 1/gal-end 6; }
    @media only screen and (max-width: 60em) {
      main.portfolio .image-gallery :nth-child(odd),
      main.portfolio .image-gallery :nth-child(even),
      main.portfolio .image-gallery :nth-child(3),
      main.portfolio .image-gallery :nth-child(6),
      main.portfolio .image-gallery :nth-child(9) {
        grid-column: gallery-start /gallery-end;
        grid-gap: 0rem; } }
    main.portfolio .image-gallery .img-set {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: end;
              align-items: flex-end;
      opacity: 1;
      width: 40rem;
      position: static;
      top: 0;
      left: 0;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      cursor: default; }
      main.portfolio .image-gallery .img-set:hover img {
        box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px); }
      @media only screen and (max-width: 60em) {
        main.portfolio .image-gallery .img-set {
          width: 100%;
          -webkit-transform: translate(0, 0);
                  transform: translate(0, 0);
          top: 0;
          left: 0; } }
      @media only screen and (max-width: 37.5em) {
        main.portfolio .image-gallery .img-set {
          opacity: 1;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
                  transform: translate(0, 0);
          margin-bottom: 0rem;
          pointer-events: none;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
                  flex-direction: column-reverse;
          -webkit-box-align: start;
                  align-items: flex-start; } }
      main.portfolio .image-gallery .img-set span {
        width: 0;
        height: 1px;
        -webkit-transform: rotateZ(-90deg);
                transform: rotateZ(-90deg);
        white-space: nowrap;
        margin-right: 3rem;
        -webkit-animation: fade 1.8s ease-in-out;
                animation: fade 1.8s ease-in-out; }
        @media only screen and (max-width: 37.5em) {
          main.portfolio .image-gallery .img-set span {
            width: 100%;
            white-space: normal;
            -webkit-transform: rotateZ(0deg);
                    transform: rotateZ(0deg);
            margin: 1rem 0 0 0;
            -webkit-animation: fade 1.2s ease-in-out;
                    animation: fade 1.2s ease-in-out; } }
      main.portfolio .image-gallery .img-set img {
        width: 100%;
        cursor: pointer;
        -webkit-animation: fadeIn 1.2s ease-in-out;
                animation: fadeIn 1.2s ease-in-out;
        -webkit-transition: all .5s;
        transition: all .5s; }
        @media only screen and (max-width: 37.5em) {
          main.portfolio .image-gallery .img-set img {
            pointer-events: none; } }
