@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700");
:root {
  --color-primary: #f8f8f8;
  --color-secondary: #1d1d1d;
  --white: #f8f8f8;
  --grey1: #e0e0e0;
  --grey2: #8b8b8b;
  --grey3: #5c5c5c;
  --black: #1d1d1d;
  --h1: calc(4.5rem + 0.52vw);
  --h2: calc(3rem + 0.52vw);
  --h3: calc(2.2rem + 0.52vw);
  --h4: calc(1.6rem + 0.52vw);
  --h5: calc(1rem + 0.12vw);
  --p-small: calc(1rem + 0.12vw);
  --xxs: 0.5rem;
  --xs: 1rem;
  --small: 2rem;
  --medium: 4rem;
  --large: 6rem;
  --xl: 8rem;
  --xxl: 10rem; }

@-webkit-keyframes Name {
  0% { }
  100% { } }

@keyframes Name {
  0% { }
  100% { } }

@-webkit-keyframes hideTitle {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh); }
  100% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh); } }

@keyframes hideTitle {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh); }
  100% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh); } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; } }

@-webkit-keyframes fadeSpan {
  0% {
    -webkit-transform: translateY(6vh) rotateZ(-90deg);
            transform: translateY(6vh) rotateZ(-90deg);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; } }

@keyframes fadeSpan {
  0% {
    -webkit-transform: translateY(6vh) rotateZ(-90deg);
            transform: translateY(6vh) rotateZ(-90deg);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0vh) rotateZ(-90deg);
            transform: translateY(0vh) rotateZ(-90deg);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  outline: none; }

body.noscroll {
  overflow-y: hidden; }

::-moz-selection {
  background-color: #f3e6d2;
  color: var(--color-secondary); }

::selection {
  background-color: #f3e6d2;
  color: var(--color-secondary); }

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url(./assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf); }

body {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: var(--h1); }

h2 {
  font-size: var(--h2); }

h3 {
  font-size: var(--h3); }

h4 {
  font-size: var(--h4); }

h5 {
  font-size: var(--h5);
  font-weight: 400; }

h6 {
  font-size: var(--h6); }

a {
  font-size: var(--p-small);
  text-decoration: none;
  color: var(--black); }

p {
  font-size: var(--p-small); }

span {
  font-size: var(--p-small); }

.paragraph {
  font-weight: 400;
  font-size: var(--h6);
  line-height: 1.3; }
  .paragraph__small {
    font-size: 1.5rem; }
  .paragraph__grey {
    color: var(--grey3); }

.small-uppercase {
  font-size: var(--p-small);
  text-transform: uppercase;
  letter-spacing: 2px; }

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: var(--medium);
  padding-right: var(--medium);
  background-color: var(--grey1); }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.grid {
  display: grid;
  grid-template-columns: [page-start] 1fr [content] repeat(12, [col-start] 1fr [col-end]) [content-end] 1fr [page-end]; }

.image-gallery {
  opacity: 1;
  position: relative; }
  .image-gallery.animate {
    opacity: 1;
    -webkit-animation: fade 1.5s ease-in-out;
            animation: fade 1.5s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .image-gallery {
      margin: 0; } }
  .image-gallery .img-set:first-child {
    z-index: 1;
    opacity: 1; }
  .image-gallery .img-set {
    opacity: 0;
    width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }
    @media only screen and (max-width: 60em) {
      .image-gallery .img-set {
        opacity: 1;
        width: 100%;
        position: relative;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        top: 0;
        left: 0;
        margin-bottom: 3rem; } }
    .image-gallery .img-set img {
      width: 100%;
      border-radius: 3px;
      -webkit-transition: all 2s ease;
      transition: all 2s ease; }
    .image-gallery .img-set.inView {
      opacity: 1;
      cursor: pointer;
      -webkit-animation: fade 0.7s;
              animation: fade 0.7s; }
    .image-gallery .img-set.resize {
      opacity: 1;
      width: 100%; }

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  overflow-y: hidden; }
  .modal__content {
    height: 100%;
    grid-column: col-start 4 / col-end 9;
    display: -webkit-box;
    display: flex;
    justify-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center; }
    .modal__content img {
      max-width: 100%; }
    @media only screen and (max-width: 42em) {
      .modal__content {
        grid-column: page-start/ page-end; } }
  .modal__img {
    max-width: 50rem; }
  .modal .prev-btn,
  .modal .next-btn,
  .modal .close-btn {
    cursor: pointer; }
  .modal .prev-btn,
  .modal .next-btn {
    justify-self: center;
    padding: 2rem; }
  .modal .close-btn {
    grid-column: col-start 12 / col-end 12;
    align-self: start;
    padding-top: 5rem; }
    @media only screen and (max-width: 42em) {
      .modal .close-btn {
        grid-column: col-start 1 / col-end 12;
        align-self: start;
        padding-top: 0;
        justify-self: center; } }

.open {
  opacity: 1;
  pointer-events: all; }

.header {
  padding: 5rem 0;
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  grid-column: col-start 1 / col-end 3;
  opacity: 1;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-animation: fade 1.5s ease-in-out;
          animation: fade 1.5s ease-in-out; }
  .header.option {
    -webkit-box-pack: center;
            justify-content: center; }
    .header.option .header__container {
      position: fixed;
      top: 45.5vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
      .header.option .header__container h5 {
        display: none; }
        @media only screen and (max-width: 37.5em) {
          .header.option .header__container h5 {
            display: block; } }
      @media only screen and (max-width: 37.5em) {
        .header.option .header__container {
          position: static;
          top: 0; } }
  .header.animate {
    opacity: 1;
    -webkit-animation: fade 1.5s ease-in-out;
            animation: fade 1.5s ease-in-out; }
  @media only screen and (max-width: 60em) {
    .header {
      position: fixed;
      margin-left: 6rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: start;
              align-items: flex-start;
      grid-column: col-start 1 / col-end 2; } }
  @media only screen and (max-width: 42em) {
    .header {
      grid-column: col-start 1 / col-end 2; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      position: relative;
      margin-left: 0;
      grid-column: col-start 1 / col-end 12;
      margin: 0;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: start;
              align-items: flex-start; } }
  .header .heading {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    max-height: 50vh; }
    @media only screen and (max-width: 37.5em) {
      .header .heading span {
        display: none; } }
    @media only screen and (max-width: 60em) {
      .header .heading {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .header .heading {
        margin-bottom: 0; } }
  .header__title {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .header__title {
        margin-bottom: 0; } }
  .header h5 {
    white-space: nowrap; }
    .header h5.hide {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw); }
  .header__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 60em) {
      .header__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .header__container h5 {
        margin-bottom: 2.5rem; } }
  .header .featured {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 60em) {
      .header .featured {
        display: none; } }
    @media only screen and (max-width: 42em) {
      .header .featured {
        display: none; } }
    .header .featured p {
      margin-right: 1rem; }

.navigation {
  display: grid;
  -webkit-box-align: space-around;
          align-items: space-around; }
  @media only screen and (max-width: 60em) {
    .navigation {
      margin-bottom: 0rem; } }
  .navigation a {
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-bottom: 1px solid transparent; }
    .navigation a.selected {
      border-bottom: 1px solid var(--color-secondary); }
  .navigation__list > *:not(:last-child) {
    margin-bottom: 0.5rem; }
  .navigation__list:hover {
    color: var(--color-secondary); }
    .navigation__list:hover a {
      border-bottom: 1px solid transparent; }
  .navigation__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .navigation__item a:hover {
      color: var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary); }

body {
  width: 100vw;
  height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0rem; } }
  body main {
    display: grid;
    grid-column: col-start 4 / col-end 12; }
    @media only screen and (max-width: 60em) {
      body main {
        margin-top: 5rem;
        grid-column: col-start 5 / col-end 12; } }
    @media only screen and (max-width: 37.5em) {
      body main {
        grid-column: col-start 1 / col-end 12; } }

main.portfolio {
  margin-top: 5rem; }
  main.portfolio .image-gallery {
    position: static;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: [gallery-start] 1fr [content] repeat(6, [gal-start] 1fr [gal-end]) [content-end] 1fr [gallery-end];
    grid-row-gap: 10rem;
    align-content: flex-start; }
    @media only screen and (max-width: 60em) {
      main.portfolio .image-gallery {
        grid-row-gap: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      main.portfolio .image-gallery {
        margin-top: 0; } }
    main.portfolio .image-gallery :nth-child(odd) {
      grid-column: gallery-start / gal-end 6; }
    main.portfolio .image-gallery :nth-child(even) {
      grid-column: gal-start 4 / gal-end 5; }
    main.portfolio .image-gallery :nth-child(3),
    main.portfolio .image-gallery :nth-child(9) {
      grid-column: gal-start 1 / gal-end 6; }
    main.portfolio .image-gallery :nth-child(6) {
      grid-column: gal-start 4 / gal-end 8; }
    @media only screen and (max-width: 60em) {
      main.portfolio .image-gallery :nth-child(odd),
      main.portfolio .image-gallery :nth-child(even),
      main.portfolio .image-gallery :nth-child(3),
      main.portfolio .image-gallery :nth-child(6),
      main.portfolio .image-gallery :nth-child(9) {
        grid-column: gallery-start / gallery-end;
        grid-gap: 0rem; } }
  main.portfolio .img-set {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    opacity: 1;
    width: 25rem;
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    cursor: default; }
    main.portfolio .img-set img:not(:first-of-type) {
      display: none; }
    main.portfolio .img-set:hover img {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); }
    @media only screen and (max-width: 60em) {
      main.portfolio .img-set {
        width: 100%;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        top: 0;
        left: 0; } }
    @media only screen and (max-width: 37.5em) {
      main.portfolio .img-set {
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        margin-bottom: 0rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
                flex-direction: column-reverse;
        -webkit-box-align: start;
                align-items: flex-start; } }
    main.portfolio .img-set span {
      width: 0;
      height: 1px;
      -webkit-transform: rotateZ(-90deg);
              transform: rotateZ(-90deg);
      white-space: nowrap;
      margin-right: 3rem;
      -webkit-animation: fade 1.8s ease-in-out;
              animation: fade 1.8s ease-in-out; }
      @media only screen and (max-width: 37.5em) {
        main.portfolio .img-set span {
          width: 100%;
          white-space: normal;
          -webkit-transform: rotateZ(0deg);
                  transform: rotateZ(0deg);
          margin: 1rem 0 0 0;
          -webkit-animation: fade 1.2s ease-in-out;
                  animation: fade 1.2s ease-in-out; } }
    main.portfolio .img-set img {
      width: 100%;
      cursor: pointer;
      -webkit-animation: fadeIn 1.2s ease-in-out;
              animation: fadeIn 1.2s ease-in-out;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }

.header.contact {
  grid-column: col-start 1 / col-end 2; }

main.contact {
  grid-column: col-start 3 / col-end 6; }
  @media only screen and (max-width: 42em) {
    main.contact {
      grid-column: col-start 5 / col-end 9; } }
  @media only screen and (max-width: 37.5em) {
    main.contact {
      grid-column: col-start 1 / col-end 12; } }
  main.contact .about {
    position: fixed;
    top: 45.5vh;
    max-width: 36rem; }
    main.contact .about > *:first-child {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 42em) {
      main.contact .about {
        max-width: 30rem; } }
    @media only screen and (max-width: 37.5em) {
      main.contact .about {
        position: static;
        top: 0;
        max-width: 40rem; } }

.thank-you {
  padding: 5rem 0;
  white-space: nowrap;
  grid-column: col-start 12 / col-end 12; }
  @media only screen and (max-width: 42em) {
    .thank-you {
      display: none; } }
